.goldenYellowBg{
	background-color: #ffd949;
}

.darkerGoldenYellowBg{
	background-color: #f4bf1a;
}

.colorWarmBg{
	background-color: #f6e5d3;
}

.colorDarkRedBg{
	background-color: #a62325;
}

.colorDarkPurpleBg{
	background-color: #2b203d;
}


.colorGreenishBg{
	background-color: #0c7f3a;
}



.goldenYellow{
	color: #ffd949;
}

.darkerGoldenYellow{
	color: #f4bf1a;
}

.colorWarm{
	color: #f6e5d3;
}

.colorDarkRed{
	color: #794445;
}

.colorDarkPurple{
	color: #2b203d;
}

.colorGreenish{
	color: #0c7f3a;
}

